@model Fit4You.WebApp.Models.UserInformationDisplayModel

<div class="row">
    <div class="col-md-5">
        <p class="lead">Account information</p>
        <div class="form-group row">
            <label asp-for="Gender" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly asp-for="Gender" value="@Model.Gender">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="AgeDisplay" class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly asp-for="AgeDisplay" value="@Model.AgeDisplay">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="HeightDisplay" class="col-sm-2 col-form-label">Height</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly asp-for="HeightDisplay" value="@Model.HeightDisplay cm">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="WeightDisplay" class="col-sm-2 col-form-label">Weight</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly asp-for="WeightDisplay" value="@Model.WeightDisplay kg">
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label asp-for="BMI" class="col-sm-2 col-form-label">BMI</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly asp-for="BMI" value="@Model.BMI (@Model.BMIMeaning)">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="BMR" class="col-sm-2 col-form-label">BMR</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly asp-for="BMR" value="@Model.BMR kcal">
            </div>
        </div>
        <a class="btn btn-primary" href="@Url.Action("UserInformationEdit")">Edit</a>
    </div>
    <div class="col-md-5 offset-2">
        <p class="lead">Mailing preferences</p>
        <span class="switch">
            <input type="checkbox" class="switch" id="switch-id">
            <label for="switch-id">Small switch</label>
        </span>
    </div>
</div>
