@model Fit4You.WebApp.Models.BMRCalculatorModel

<form asp-action="CalculateBMR"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-update="#BMRCalculator"
      data-ajax-mode="replace">
    <div class="text-center my-4">BMR Calculator</div>
    <hr />
    <div class="form-group" id="BMRCalculatorRadios">
        <label asp-for="IsMale" class="control-label d-block">Gender</label>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="IsMaleRadioTrue" name="IsMale" class="custom-control-input" value="true" checked="@(Model.IsMale)">
            <label class="custom-control-label" for="IsMaleRadioTrue">Male</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="IsMaleRadioFalse" name="IsMale" class="custom-control-input" value="false" checked="@(!Model.IsMale)">
            <label class="custom-control-label" for="IsMaleRadioFalse">Female</label>
        </div>
        <span asp-validation-for="IsMale" class="text-danger d-block"></span>
    </div>
    <div class="form-group">
        <label asp-for="Weight" class="control-label">Weight</label>
        <div class="input-group">
            <input asp-for="Weight" type="number" class="form-control" value="@Model.Weight" />
            <div class="input-group-append">
                <div class="input-group-text">kg</div>
            </div>
        </div>
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Height" class="control-label">Height</label>
        <div class="input-group">
            <input asp-for="Height" type="number" class="form-control" value="@Model.Height" />
            <div class="input-group-append">
                <div class="input-group-text">cm</div>
            </div>
        </div>
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age" class="control-label">Age</label>
        <input asp-for="Age" type="number" class="form-control" value="@Model.Age" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="text-center m-3">
        <button class="btn btn-violet" type="submit">Calculate BMR</button>
    </div>
</form>

@if (Model != null && Model.Result != 0)
{
    <h5>Result: @(Model.Result)kcal</h5>
}